EDGE_BIND_ADDRESS=127.0.0.1
EDGE_PORT=18080

ALGOQUEST_DOMAIN=game.intqwq.com
INTQWQ_DOMAIN=intqwq.com
INTQWQ_WWW_DOMAIN=www.intqwq.com

ALGOQUEST_ORIGIN=http://host.docker.internal:18081
INTQWQ_ORIGIN=http://host.docker.internal:18082
